<section class="show_contacts">
  <h2 class="wide">My Contacts</h2>

  <ul class="contacts">

  <% @@rolodex.contacts.each do |contact| %>
    <li class="contact">
      <div class="name">
        <a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a>
      </div>

      <div class="edit">
        <form action="/contacts/<%= contact.id %>/edit" method="get">
          <button type="submit" class="small btn edit">Edit</button>
        </form>
      </div>

      <div class="delete">
        <form action="/contacts/<%= contact.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="small btn delete">Delete</button>
        </form>
      </div>
    </li>
  <% end %>

  </ul>
</section>
